<div style="margin-top: 162px;"></div>
<div class="container-fluid">
  <div class="row" style="background: #e8eff9;">
    <div class="col-md-12 text-center">
      <img src="../../../../../assets/1121923.png" />
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="top-content pull-left">
        <a href="/home">home</a>
        <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
        <a href="/men">men</a>
        <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
        <a>sweaters</a>


      </div>
      <div class="top-content pull-right">
        <a href="#">1</a>
        <a href="#">2</a>
        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="#">next</a>

      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">


      <div class="container-fluid">
        <div class="row">
          <div class="item-card col-md-3" *ngFor="let item of storeItems">
            <img src="{{item.mainImage}}" width="100%" [routerLink]="['/product', item.id]">
            <h6 class="text-center">{{item.name}}</h6>
            <p class="text-center">$ {{item.price}}</p>
            <button type="button" (click)="addItemInCart(item)">Add to Cart</button>
          </div>
          {{this.sweaterItems.Goods}}
        </div>
      </div>




    </div>
  </div>

</div>
