p {
  font-family: 'Lora', serif;
  font-size: 11.5px;
  font-style: italic;
  margin: 0.5%;
}
.form-group > label {
  font-family: 'Lora', serif;
  font-size: 13px;
}
h6 {
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: 500;
}
._hr {
  height: 50px;
  width: 1px;
  background: gray;
}
.form-margin {
  margin-bottom: 5%;
}
.input-control {
  border-radius: 0;
  height: 30px;
}
.form-control-warning {
  border: 1px solid #c82536;
}
.form-control-success {
  border: 1px solid green;
}
