<div style="margin-top: 186px;"></div>
<div class="container-fluid">
  <div class="row align-items-center" style="padding-bottom: 24px;">
    <div class="col-md-6" style="padding: 0 24px;">
      <img src="../assets/see-for-yourself-lindsay-brown-3.jpg" width="100%" />
    </div>
    <div class="col-md-6 align-items-center" style="padding: 0 24px;">
      <div class="text-center" style="display: inline;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="image-text col-md-3">
              <a href="/men"><h6>shop <span style="color: purple">men</span>'s<i class="fa fa-caret-right"></i></h6></a>
            </div>
            <div class="image-text col-md-3">
              <a href="/women"><h6>shop <span style="color: darkslategray">women</span>'s<i class="fa fa-caret-right"></i></h6></a>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
      <img class="img-overlay" src="../assets/new-shades-of-connor-chino.jpg" width="100%" />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      a
    </div>
    <div class="col-md-2">
      b
    </div>
    <div class="col-md-3">
      c
    </div>
  </div>
</div>
