<div style="margin-top: 162px;"></div>
<div class="container-fluid">
  <div class="row" style="background: #e8eff9;">
    <div class="col-md-12 text-center">
      <img src="../../../../../assets/1121923.png" />
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="left-nav">
        <h6>Men</h6>
        <a href="/men"><p data-toggle="collapse" data-target="#toggleClothing" class="collapsed">Clothing</p></a>
        <div class="toggle-content collapse" id="toggleClothing">
          <a href="#">Casual Shirts</a>
          <a href="#">Outerwear</a>
          <a href="men/clothing/sweaters">Sweaters</a>
          <a href="#">Activewear</a>
          <a href="#">Pants</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">Jeans</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">Suits</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">Blazers</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">Dress Shirts</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">Tees and Polo Shirts</a>
          <a href="#">Shorts</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">Swim</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">Sleepwear</a>
        </div>
        <p>Shoes</p>
        <p>Accessories</p>
        <p>Shops</p>
        <p>Sale</p>



      </div>
    </div>
    <div class="col-md-4">
      <img src="../../../../../assets/08_MLP-Image1.jpg" width="100%"/>
    </div>
    <div class="col-md-4">
      <img src="../../../../../assets/08_MLP-Image2.jpg" width="100%"/>

    </div>
    <div class="col-md-2">
      b
    </div>
  </div>
</div>
